ul{
  color: white;
  background-color: black;
  display: flex;
  list-style: none;
  flex-direction: row;
  padding: 0px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

p{
  font-size: 10px;
  margin-top: 5px;
}
h2{
  margin-bottom: 0px;
  margin-top: 0px;
}
.fas{
  font-size: 40px;
  align-self: center;
  margin: 5px 0px 5px 30px;
}
