
main{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: center;
}

main, header,aside, #content,footer{
  border-style: solid;
  border-width: 4px;
}

.center{
  display: flex;
  flex-wrap: nowrap;
}

header, footer{
  background-color: blue;
  flex-basis: 100%;
}

footer{
  align-self: flex-end;
}

aside, #content{
  align-self: center;
  align-self: stretch;
}

aside{
  background-color: violet;
  flex-basis: 20%;
}

#content{
  background-color: orange;
  flex-basis: 58%;
}

ul{
  list-style: none;
}
